name: Node.js CI

on:
  push:
    branches: [main, '[0-9]+.x']
  pull_request:
    branches: ['**']

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js 18
        uses: actions/setup-node@v2
        with:
          node-version: 18
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Lint
        run: yarn lint

  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16, 18]
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Unit tests
        run: yarn test:ci:unit

  e2e-tests:
    name: E2E Tests
    strategy:
      matrix:
        node-version: [18]
        os: [ubuntu-latest, macos-latest]
        # TODO: add windows
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 11
          cache: 'gradle'

      - uses: ruby/setup-ruby@v1
        if: runner.os == 'macOS'
        with:
          ruby-version: '2.7.6'

      - uses: actions/setup-python@v4
        if: runner.os == 'macOS'
        with:
          python-version: '3.10'

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: yarn

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: E2E tests
        run: yarn test:ci:e2e
